{% extends "base.html" %}
{% block content %}
<p>
    Information about a device:
    <table class="table table-striped">
        <tr>
            <td>
                Ident
            </td>
            <td>
                {{ device.ident }}
            </td>
        </tr>
        <tr>
            <td>
                Type
            </td>
            <td>
                {{ device.type }}
            </td>
        </tr>
        <tr>
            <td>
                Creation
            </td>
            <td>
                {{ device.date_created }}
            </td>
        </tr>
        <tr>
            <td>
                Updated
            </td>
            <td>
                {{ device.date_updated }}
            </td>
        </tr>
        <tr>
            <td>
                Last seen
            </td>
            <td>
                {{ device.date_seen }}
            </td>
        </tr>
    </table>
</p>
{% end %}
