{% extends "base.html" %}
{% block header %}
<h1>{{ title }}</h1>
{% end %}

{% block content %}
<p>
    Information about a device:
<table class="table table-striped">
   <thead>
   <tr>
       <th>Device ID</th>
       <th>Device IDENT</th>
       <th>Device TYPE</th>
   </tr>
   </thead>
   <tbody>
   {% for device in devices %}
      <tr onclick="document.location.href='/device/{{ device.id }}'">
          <td>{{ device.id }}</td>
          <td>{{ device.ident }}</td>
          <td>{{ device.type }}</td>
      </tr>
   {% end %}
   </tbody>
</table>
</p>
{% end %}
