{% extends "base.html" %}
{% block content %}
<p>
   These are the last reports:
</p>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Device</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    {% for report in reports %}
    <tr>
        <td><a href="/report/{{ report.id }}">{{ report.id }}</a></td>
        <td><a href="/report/{{ report.id }}">{{ report.date }}</a></td>
        <td><a href="/last-reports?device_id={{ report.device.id }}">{{ report.device.ident }}</a></td>
        <td><a href="/last-reports?type={{ report.type }}">{{ report.type }}</a></td>
    </tr>
    {% end %}
    </tbody>
</table>
<ul class="pager">
    {% if paging_previous %}
    <li class="previous"><a href="{{ paging_previous }}">&larr; Previous</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">&larr; Previous</a></li>
    {% end %}

    {% if paging_next %}
    <li class="next"><a href="{{ paging_next }}">Next &rarr;</a></li>
    {% else %}
    <li class="next disabled"><a href="#>">Next &rarr;</a></li>
    {% end %}
</ul>
{% end %}
